<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    body .container { margin-top: 5px; }
    tr.sticky-top { top: 60px; }
    #history li { display: block; }
    #history { padding-left: 0; }
	</style>
    <title>Treasuror</title>
  </head>
  <body>
    <%= File.read('Header/header.html').gsub('__ACTIVE_TREASUROR__', 'active') %>

    <div class="container">
    <table class="table table-hover">
	<thead class="thead-light"><tr class="sticky-top">
	<% %w(Name Stone Apples Corn Ore Lumber Cotton Coins Papers Fabric).each do |heading| %>
		<th><%= heading %></th>
	<% end %>
	</tr></thead><tbody>
	<% Treasuror.current_state.values
				.sort_by(&:name)
				.sort_by(&:sort_order).each do |player| %>
		<tr>
		<% [
			player.name,
			player.stones, player.apples, player.corn,
			player.ore, player.lumber, player.cotton,
			player.coins, player.papers, player.fabric
		].each do |val| %>
			<td><%= val %></td>
		<% end %>
		</tr>
	<% end %>
	</tbody></table>
	<h2>Recent changes</h2>
	<ul id="history">
		<% Treasuror.log.find_all(&:show_in_history?).reverse.take(100).each do |event| %>
		<li>
			<span class="badge badge-secondary" data-date="<%= (event.date.to_f * 1000).to_i %>">
			<%= event.date.getutc.strftime("%a %b %d %H:%M") %> UTC
			</span>
			<%= event %>
		</li>
		<% end %>
	</ul>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    	$('[data-date]').each(function() {
    		$(this).text(new Date($(this).data('date')).toLocaleString(undefined, {
    			weekday: 'short',
    			month: 'short',
    			day: 'numeric',
    			hour: 'numeric',
    			minute: 'numeric'
    		}))
    	})
    </script>
  </body>
</html>